@model TestWebApplication.Models.Ticket

@{
    ViewBag.Title = "Technical Support";
}

<div class="container">
<h2>Technical Support</h2>
<h5>Use the form to create a ticket requesting technical support, or view Support History below.</h5>
<hr />
<style>
    #createForm {
        background-color: #F2F2F2;
        padding: 30px;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6" id="createForm">
        @Html.ValidationSummary(true)
            @Html.LabelFor(model => model.Title, new { @class = "control-label" }) <br />
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @placeholder = "Enter the title here", @type = "text" })
            @Html.ValidationMessageFor(model => model.Title)
            <br />
            @Html.LabelFor(model => model.Description, new { @class = "control-label" })
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Enter the description here", @rows = "10", style = "resize: none" })
            @Html.ValidationMessageFor(model => model.Description)
            <br />
            @Html.LabelFor(model => model.DateCreated, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DateCreated, new { @type = "date", @class = "form-control", @placeholder = "Use the date picker to select a date." })
            @Html.ValidationMessageFor(model => model.DateCreated)
            <br />
            @Html.LabelFor(model => model.Status, new { @class = "control-label" })
            @Html.DropDownListFor(model => model.Status, Model.Statuses, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Status)
            <br />
            <input type="submit" value="Create" class="btn btn-default" />
    </div>
    <div class="col-md-3">
    </div>
    </div>
}
</div>
<div class="row">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
